.bg-body-tertiary {
    background-color: transparent !important;
}
.navbar-toggler:focus {
    transform: scale(0.9); 
    transition: transform 10s ease;
 }
a:hover {
    text-decoration: underline;
}
.footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}